<p id="notice"><%= notice %></p>

<h4 class="jumbotron" align="center">
  <%= @post.title%>
</h4>

<div class="container">
 <h6 align="center"><%= @post.string %></h6>
<p align="center">
  <%= @post.body %>
</p>
</div>

<div class="pager" align="center">
<% if user_signed_in?%>

<%= link_to 'Edit', edit_post_path(@post), class: 'previous' %> |
<%= link_to 'Delete', @post, method: :delete, data: { confirm: "sure?" }, class: 'next' %> |
<% end %>
<%= link_to 'Back', posts_path, class:'next' %> 

</div>