<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
  <nav class="navbar">
   <%= link_to  "miniwords", root_path, class: 'navbar-brand' %>
  <% if user_signed_in? %>
          <%= link_to 'New', new_post_path, class: 'navbar-link' %>
          <%= link_to 'Bye', destroy_user_session_path, method: :delete %>

        <% else %>
          <%= link_to 'Start telling', new_user_session_path, class:'navbar-link' %>
  <% end %>
  </nav>
  <div >
        <%= yield %>
  </div>
  </body>
</html>
