<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar">
   <%= link_to  "Storyteller", root_path, class: 'navbar-brand' %>
 p<p class="navbar-text navbar-brand">
  <% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>

<% else %>
<%= link_to 'Start Blogging', new_user_session_path %>
<% end %>
 </p>
  </nav>
  <div class="col-md-10 col-md-offset-1">
        <%= yield %>
  </div>
  </body>
</html>
